CFIClient/Service References/JobInspectionService/JobInspection.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/CFI" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/CFI" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="DateRange">
    <xs:sequence>
      <xs:element minOccurs="0" name="End" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Start" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DateRange" nillable="true" type="tns:DateRange" />
  <xs:complexType name="OrderInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="Customer" nillable="true" type="tns:CustomerInfo" />
      <xs:element minOccurs="0" name="DiagramNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Division" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="Market" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NotesXml" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PONumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PhotosXml" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ScheduledDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="StoreNumber" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="OrderInfo" nillable="true" type="tns:OrderInfo" />
  <xs:complexType name="CustomerInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="FirstName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="LastName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CustomerInfo" nillable="true" type="tns:CustomerInfo" />
  <xs:complexType name="NoteInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="DateTimeEntered" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DateTimeSentToStore" type="xs:dateTime" />
      <xs:element minOccurs="0" name="EnteredByUser" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EnteredByUserID" type="xs:int" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="NoteTypeDescription" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SentToStore" type="xs:boolean" />
      <xs:element minOccurs="0" name="Text" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TypeID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="NoteInfo" nillable="true" type="tns:NoteInfo" />
  <xs:complexType name="PhotoInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="DateTimeEntered" type="xs:dateTime" />
      <xs:element minOccurs="0" name="EnteredByUser" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EnteredByUserID" type="xs:int" />
      <xs:element minOccurs="0" name="FilePath" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="Title" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PhotoInfo" nillable="true" type="tns:PhotoInfo" />
</xs:schema>